* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px;
}
ul{
    display: flex;
    list-style: none;
    width: 25%;
    justify-content: space-between;
    background: rgb(182, 182, 182);
}
main{
    width: 1200px;
    margin: auto;
    text-align: center;
}
h4{
    margin-top: 20px;
    margin-bottom: 20px;
}
.profile-item{
    margin-top: 50px;
    margin-bottom: 50px;
}